.signUpForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.signUpForm button, .signUpForm input {
    margin: 2% 0;
}

.signUpForm input {
    padding: 0.5%;
    border: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.inputBar {
    width: 40%;
}

#signUpQuestion {
    display: flex;
    justify-content: space-around;
}

#signUpQuestion p {

}

#signUpQuestion a {

}