#bar {
    background-color: indigo;
    color: whitesmoke;
}

#managerInfoAndButton {
    display: flex;
    justify-content: space-between;
    justify-items: left;
    margin-left: 150px;
    margin-right: 150px;
}

.buttonInfo{
    display: flex;
    justify-content: space-around;
}

.picAndNameInfo{
    display: flex;
    justify-items: left;
    /*align-items: flex-start;
    justify-self: flex-start;*/
}

#managerInfoAndButton h2 {
    margin: 1% 1%;
}

#managerInfoAndButton button {
    margin: 1% 1%;
}

img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}