#headerImage {
    height: 22em;
    background-image: url('../../../../utils/static/images/ciak1.jfif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    /*background-color: black;*/
}