#bar {
    background-color: indigo;
    color: whitesmoke;
}

#actorInfoAndButton {
    display: flex;
    justify-content: space-between;
}


.buttonInfo{
    display: flex;
    justify-content: space-around;
}

.picAndNameInfo{
    display: flex;
    justify-items: left;
    /*align-items: flex-start;
    justify-self: flex-start;*/
}

#actorInfoAndButton h2 {
    margin: 1% 1%;
}

#actorInfoAndButton button {
    margin: 1% 1%;
}

img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}