.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.loginForm button, .loginForm input {
    margin: 2% 0;
}

.loginForm input {
    padding: 0.5%;
    border: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.inputBar {
    width: 40%;
}